@model RecordStore.Models.Song

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.Image" height="320" width="320">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ArtistId != null)
            {
                <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.ArtistId">@Html.DisplayFor(model => model.Artist.FullName)</a>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Albums" asp-action="Details" asp-route-id="@Model.AlbumId">@Html.DisplayFor(modelItem => @Model.Album.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @foreach (var genre in Model.Genres)
            {
                <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId">
                    @genre.Genre.GenreName
                </a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    |
    <a asp-action="Index">Back to List</a>
</div>
