@model RecordStore.ViewModels.AlbumNameArtistGenreFilter

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-controller="Albums" asp-action="Index" method="get">
    <p>
        Name: <input type="text" asp-for="Name" />
        Artist: <input type="text" asp-for="Artist" />
        <select asp-for="Genre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Albumi[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albumi[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albumi[0].Released)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albumi[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albumi[0].Songs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albumi[0].Genres)
            </th>
            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
            {
                <th>
                    Add to My Records!
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Albumi) {
        <tr>
            <td>
                    <a asp-controller="Songs" asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <img src="~/images/@item.Image" height="320" width="320">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Released)
            </td>
            <td>
                    @if (item.ArtistId != null)
                    {
                        <a asp-controller="Artists" asp-action="Details" asp-route-id="@item.ArtistId"> @Html.DisplayFor(modelItem => item.Artist.FullName)</a>
                    }
            </td>
            <td>
                @foreach (var song in @item.Songs)
                {
                    <a asp-controller="Songs" asp-action="Details" asp-route-id="@song.Id"> @song.Title </a> <br />
                }
            </td>
                <td>
                    @foreach (var genre in item.Genres)
                    {
                        <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId"> @genre.Genre.GenreName </a> <br />
                    }
                </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <td>
                        <a asp-controller="UserAlbums" asp-action="AddToMyRecords" asp-route-id="@item.Id">Buy this record!</a>
                    </td>
                }
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
